.contentBlockTop{
    padding: 30px clamp(1px, 0.9vw, 19px) 30px clamp(1px, 0.9vw, 19px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: clamp(6px, 0.6vw, 12px);
    align-items: center;
    box-shadow: 0px 0px 25px 0px #8EA0AD59;
    background: linear-gradient(90deg, #FBFDFF 0%, #D8EFFF 100.86%);
    border-radius: 20px;
    width: min(22vw, 410px);
    min-height: 608px;
}
.contentBlockBottom {
    text-align: start;
    padding: 30px clamp(1px, 0.9vw, 19px) 30px clamp(1px, 0.9vw, 19px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: clamp(6px, 12px, 12px);
    align-items: center;
    box-shadow: 0px 0px 25px 0px #8EA0AD59;
    background: linear-gradient(90deg, #FBFDFF 0%, #D8EFFF 100.86%);
    border-radius: 20px;
    width: min(40vw, 630px);
    min-height: 400px;
}
.textContentCenter {
    margin-top: 7px;
    font-family: "Noto Sans", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 32.4px;
    letter-spacing: 0em;
    text-align: center;
}
.textContentStart {
    margin: 3px 24px 0px 20px;
    font-family: "Noto Sans", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 32.69px;
    text-align: start;
}
@media screen and (max-width: 1580px) {
    .textContentCenter {
        font-size: 18px;
    }
    .textContentStart {
        font-size: 18px;
    }
}
@media screen and (max-width: 1150px) {
    .textContentCenter {
        font-size: 14px;
    }
    .textContentStart {
        font-size: 18px;
    }
}
@media screen and (max-width: 920px) {
    .textContentCenter {
        font-size: 12px;
    }
    .textContentStart {
        font-size: 18px;}
}